@model List<Thumb.Lib.USBs.USBItem>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<table>



    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Entity_issued_to</td>
        <td>@item.Issued_by</td>
        <td>@item.Quantity_issued</td>
        <td>@item.Entity_issued_to</td>
        

    </tr>


    }

</table>
