@model List<Thumb.Lib.USBs.USBItem>

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<a class="btn btn-default" href="/USB/Add">Add USBs</a>

<br /><br /><br />


<table class="table table-striped table-bordered table-hover">

    <tr>
        <th></th>
        <th>Issued To</th>
        <th>Issued By</th>
        <th>Quantity Issued</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a class="btn btn-default" href="/USB/Edit?id=@item.Id">Edit</a></td>
            <td>@item.Entity_issued_to</td>
            <td>@item.Issued_by</td>
            <td>@item.Quantity_issued</td>
            <td>@item.Entity_issued_to</td>


        </tr>


    }

        <tr>
            <th></th>
            <th>Issued To</th>
            <th>Issued By</th>
            <th>Quantity Issued</th>
            <th></th>
        </tr>
</table>
